.row
{display: grid;
    grid-template-columns: 33% 33% 33%;
    

}
img{width: 100%;}

.row div {padding: 10px;}
.absolute{ 
    
        position: absolute;
        margin-top: 120px !important;
        color: white !important;
        margin-left: 50px !important;
    
}
.absolute2{    position: absolute;
    margin-top: 170px !important;
    color: white !important;
    margin-left: 50px !important;}
.menu div{ display: inline;}
.right div
{float: right;
    margin-left: auto;}
 .banner{margin-top: 50px;}